.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 37rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(-180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  color: white;
  border-radius: 1.5rem;
  background-image: linear-gradient(
    45deg,
    hsl(190deg 78% 43%) 0%,
    hsl(191deg 66% 47%) 11%,
    hsl(191deg 61% 51%) 22%,
    hsl(192deg 64% 54%) 33%,
    hsl(192deg 67% 57%) 44%,
    hsl(193deg 70% 60%) 56%,
    hsl(193deg 75% 63%) 67%,
    hsl(194deg 80% 66%) 78%,
    hsl(194deg 86% 69%) 89%,
    hsl(194deg 93% 72%) 100%
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  margin: 0 auto;
}

.button-flip {
  width: 1rem;
  height: 1rem;
}

.city {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(52, 160, 242, 0.4);
}

.country {
  font-size: 1.5rem;
  font-weight: 100;
  margin-left: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.lokaal {
  font-size: 1.3rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
}

.time {
  font-size: 1.8rem;
}

.card-front-middle {
  text-align: center;
}

.temp-and-icon {
  display: flex;
  justify-content: center;
  padding: 0;
}

.card-front-temp {
  font-size: 5rem;
  margin-bottom: -1rem;
}

.card-front-desc {
  font-size: 2rem;
  font-weight: bold;
  margin-top: .7rem;
}

.alert {
  width: 93%;
  margin: 2rem auto 1rem auto;
  font-size: 1.05rem;
}

.line {
  width: 100%;
  height: 1px;
  margin: 0.4rem auto 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
}

.hours-forecast-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 2.5rem;
}

.hour-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}

.line-front-bottom {
  width: 85%;
  height: 1px;
  margin: 1rem auto 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
}

/* CARD BACK */

.card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transform: rotateY(180deg);
}

.card-back-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 1rem 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.komende {
  width: 90%;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

.line-back {
  width: 100%;
  height: 1px;
  margin: 0.2rem auto 0.5rem auto;
  background-color: rgba(255, 255, 255, 0.7);
}
.line-back2 {
  width: 90%;
  height: 1px;
  margin: 0.2rem auto 0.5rem auto;
  background-color: rgba(255, 255, 255, 0.7);
}
.card-back-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 90%;
  grid-template-columns: 9fr 5fr 2fr 2fr 2fr;
  grid-template-rows: auto;
  grid-gap: 0;
  font-size: 1.1rem;
}

.grid-a {
  grid-column: 1 / span 1;
  text-align: start;
  font-size: 1.2rem;
}

.grid-b {
  grid-column: 2 / span 1;
}

.grid-c {
  grid-column: 3 / span 1;
  color: rgba(255, 255, 255, 0.7);
}

.grid-d {
  grid-column: 4 / span 1;
}

.grid-e {
  grid-column: 5 / span 1;
  font-weight: bold;
}
