*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: arial;
  background-color: rgb(233, 233, 233);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
