*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: arial;
  background-color: rgb(233, 233, 233);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 95%;
}

label {
  width: 95%;
  max-width: 30rem;
  height: 35rem;
  perspective: 1000px;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1000ms;
  transform-style: preserve-3d;
}

#toggle {
  display: none;
}

#toggle:checked + label .card__inner {
  transform: rotateY(-180deg);
}

.flip {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 1.5rem;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}
.flip:hover {
  transform: scale(1.1);
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  color: white;
  border-radius: 1.5rem;
  background-image: linear-gradient(
    45deg,
    hsl(190deg 78% 43%) 0%,
    hsl(191deg 66% 47%) 11%,
    hsl(191deg 61% 51%) 22%,
    hsl(192deg 64% 54%) 33%,
    hsl(192deg 67% 57%) 44%,
    hsl(193deg 70% 60%) 56%,
    hsl(193deg 75% 63%) 67%,
    hsl(194deg 80% 66%) 78%,
    hsl(194deg 86% 69%) 89%,
    hsl(194deg 93% 72%) 100%
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__front {
  margin: 0 auto;
}

.button-flip {
  width: 1rem;
  height: 1rem;
}

.city {
  display: inline;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 40px;
  text-shadow: 0 2px 4px rgba(52, 160, 242, 0.4);
}

.country {
  font-size: 1.5rem;
  font-weight: 100;
  margin-left: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.lokaal {
  font-size: 1.3rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
}

.time {
  font-size: 1.8rem;
}

.card__front--middle {
  text-align: center;
  font-size: 1.2rem;
}

.temp {
  font-size: 5rem;
  margin-bottom: -1rem;
}

.desc {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.7rem;
}

.alert {
  width: 93%;
  margin: 2rem auto 1rem auto;
  font-size: 1.05rem;
}

.line {
  width: 100%;
  height: 1px;
  margin: 0.4rem auto 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
}

.hours__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 2.5rem;
}

.hour__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.6rem;
}

.line-front {
  width: 90%;
  height: 1px;
  margin: 1rem auto 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
}

.extra-info__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 1rem 0;
}

.extra-info__top,
.extra-info__bottom {
  display: flex;
}

.extra-info__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

@media (max-width: 550px) {
  label {
    height: 33.5rem;
  }

  .city {
    font-size: 1.8rem;
    font-weight: normal;
  }

  .country {
    font-size: 1.2rem;
  }

  .lokaal {
    font-size: 1.2rem;
  }

  .time {
    font-size: 1.4rem;
  }

  .temp {
    font-size: 3.5rem;
  }

  .desc {
    font-size: 1.5rem;
  }

  .hour__card:last-of-type {
    display: none;
  }

  .extra-info {
    flex-wrap: wrap;
  }
}

/* CARD BACK */

.card__back {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transform: rotateY(180deg);
}

.komende {
  width: 90%;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

.line-back {
  width: 100%;
  height: 1px;
  margin: 0.2rem auto 0.5rem auto;
  background-color: rgba(255, 255, 255, 0.7);
}
.line-back2 {
  width: 90%;
  height: 1px;
  margin: 0.2rem auto 0.5rem auto;
  background-color: rgba(255, 255, 255, 0.7);
}
.card__back--grid {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 90%;
  grid-template-columns: 9fr 5fr 2fr 2fr 2fr;
  grid-template-rows: auto;
  grid-gap: 0;
  font-size: 1.1rem;
}

.grid-a {
  grid-column: 1 / span 1;
  text-align: start;
  font-size: 1.2rem;
}

.grid-b {
  grid-column: 2 / span 1;
}

.grid-c {
  grid-column: 3 / span 1;
  color: rgba(255, 255, 255, 0.7);
}

.grid-d {
  grid-column: 4 / span 1;
}

.grid-e {
  grid-column: 5 / span 1;
  font-weight: bold;
}

.openweather-logo {
  position: absolute;
  bottom: 10px;
  right: 25px;
  width: 5rem;
}
